<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="light-mode">
    <div class="container">
        <div class="device-card card card-hover p-4 text-center my-4">
            <img src="{{ device.image }}" class="device_image">
            <h3>Device Name: {{ device.name }}</h3>
            <p>Category: {{ device.category }}</p>
            <p>CPU Speed: {{ device.cpu_speed }} GHz</p>
            <p>RAM: {{ device.ram }} GB</p>
            <p>Storage: {{ device.storage }} GB</p>
            <p>Screen Size: {{ device.screen_size }} inches</p>
            <p>Price: £{{ device.price }}</p>
            <button onclick="window.history.back()">Go Back</button>
        </div>
        <iframe id="flowchartIframe" src="{{ url_for('serve_flowchart', image_path=flowchart_image_path) }}" width="800" height="600" style="display:none;"></iframe>
        <button onclick="toggleFlowchart()">Show Flowchart</button>
        <button onclick="downloadFlowchart()">Download Flowchart</button>
    </div>
    <script>
        function toggleFlowchart() {
            const iframe = document.getElementById('flowchartIframe');
            if (iframe.style.display === "none") {
                iframe.style.display = "block";
            } else {
                iframe.style.display = "none";
            }
        }

        function downloadFlowchart() {
            const link = document.createElement('a');
            link.href = document.getElementById('flowchartIframe').src;
            link.download = 'flowchart.svg';
            link.click();
        }
    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
