<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Provisioning Flowchart</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .form-container{display:none;}
        .carouselimage{max-width:100%;height:auto;}
    </style>
</head>
<body class="light_mode" style="background-image: url('{{light_mode_image}}')">
    <div class="container my-4">
        <h1><ul>Device Provisioning Flowchart</ul></h1>
        <button id='openbutton' class='btn btn-primary' onclick="document.getElementById('device-form').style.display='block'">Open Form</button>
        <div id="device-form" class="form-container shadow bg-white p-4 rounded">
            <form action="{{ url_for('index')}}" method="POST" onsubmit="checkStandards()">
                <div class="container">
                    <!-- Search Bar -->
                    <div class="form-group">
                        <label for="searchBar">Search for a device:</label>
                        <input type="text" id="searchBar" name="searchBar" placeholder="Search devices..." oninput="saveName(this.value)">
                        <script>
                            let searchBar = '';
                            function saveName(value) {
                                searchBar = value;
                                console.log("Search Query:", searchBar); // For demonstration, logs the search query to the console
                            }
                        </script>
                    </div>
                    <div class="form-group">
                        <label for="price_range">Price Range (£):</label>
                        <input type="range" id="price_range_min" name="price_range_min" min="0" max="3000" value="100" oninput="updatePriceRangeValue()">
                        <input type="range" id="price_range_max" name="price_range_max" min="0" max="3000" value="1500" oninput="updatePriceRangeValue()">
                        <p>Min: £<span id="price_range_min_value">£100</span> - Max: £<span id="price_range_max_value">£1500</span></p>
                        <input type="hidden" id="price_range" name="price_range">
                    </div>
                    <script>
                        function updatePriceRangeValue() {
                            const minPrice = document.getElementById('price_range_min').value;
                            const maxPrice = document.getElementById('price_range_max').value;
                            document.getElementById('price_range_min_value').textContent = minPrice;
                            document.getElementById('price_range_max_value').textContent = maxPrice;
                            document.getElementById('price_range').value = minPrice + "," + maxPrice;
                        }
                        updatePriceRangeValue();
                    </script>
                    <button type="button" id='advFilters' class='btn btn-link' onclick=OPEN()>Advanced Filters</button>
                        <div class="Advanced-filters">
                            <div class="Advanced-filters">
                                <label for="use">Use:</label>
                                <select id="use" name="use">
                                    <option value="Personal">Personal</option>
                                    <option value="Work">Work</option>
                                    <option value="Government">Government</option>
                                    <option value="Education">Education</option>
                                </select>
                            </div>
                            <div class="Advanced-filters">
                                <label for="device_type">Device Type:</label>
                                <select id="device_type" name="device_type">
                                    <option value="PCs">PCs</option>
                                    <option value="Laptops">Laptops</option>
                                    <option value="Tablets">Tablets</option>
                                </select>
                            </div>
                            <div class="Advanced-filters">
                                <label for="cpu_speed">Minimum CPU Speed (GHz):</label>
                                <input type="range" id="cpu_speed" name="cpu_speed" min="2.5" max="5" step="0.1" oninput="this.nextElementSibling.value = this.value">
                                <output>2.5 ghz</output>
                            </div>
                            <div class="Advanced-filters">
                                <label for="ram">Minimum RAM (GB):</label>
                                <input type="range" id="ram" name="ram" min="8" max="128" step="4" oninput="this.nextElementSibling.value = this.value">
                                <output>8 gb</output>
                            </div>
                            <div class="Advanced-filters">
                                <label for="storage">Minimum Storage Capacity (GB):</label>
                                <input type="range" id="storage" name="storage" min="256" max="2000" step="32" oninput="this.nextElementSibling.value = this.value">
                                <output>256 GB</output>
                            </div>
                            <div class="Advanced-filters">
                                <label for="screen_size">Minimum Screen Size (inches):</label>
                                <input type="range" id="screen_size" name="screen_size" min="5" max="30" step="1" oninput="this.nextElementSibling.value = this.value">
                                <output>5 inch</output>
                            </div>
                        </div>
                        <div>
                            <button id='closebutton' class='btn btn-secondary' onclick="document.getElementById('device-form').style.display='none'">Close Form</button>
                        </div>
                        <div>
                        <button id='submitForm' class='btn btn-success' type="submit" onclick=submitForm()>Show Results</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <h2>Recommended Devices</h2>
            <div class="device-carousel">
                <div class="recommended-device-containers">
                    {% for device in recommended_devices %}
                        <div class="device-card-carousel card card-hover p-3 text-center" onclick="window.location.href='{{ url_for('device', device_id=device.id) }}'">
                            <img src="{{ device.image }}" class="carouselimage">
                            <h3><ul>Device Name: {{ device.name }}</ul></h3>
                            <p>Device Name: {{ device.name }}</p>
                            <p>Category: {{ device.category }}</p>
                            <p>CPU Speed: {{ device.cpu_speed }} GHz</p>
                            <p>RAM: {{ device.ram }} GB</p>
                            <p>Storage: {{ device.storage }} GB</p>
                            <p>Screen Size: {{ device.screen_size }} inches</p>
                            <p>Price: £{{ device.price }}</p>
                            <a href="{{url_for('device', device_id=device.id)}}" class='carouselSubmit'>Select Device</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>  
    </div>
<div class="form-results">
    <h3>Form Results</h3>
    {% if error_occurred %}
    <p>There has been an error retrieving results from the database.</p>
    {% elif form_submitted %}
        <p>Displaying devices based on the selected criteria.</p>
        <div class="device-container">
            {% for device in devices %}
                <div class="device-card-result card card-hover p-3 m-2" onclick="{{ url_for('device', device_id=device.id) }}'">
                    <img src="{{ device.image }}" class="carouselimage">
                    <h3>{{ device.name }}</h3>
                    <p>Category: {{ device.category }}</p>
                    <p>Price: £{{ device.price }}</p>
                    <p>CPU Speed: {{ device.cpu_speed }} GHz</p>
                    <p>RAM: {{ device.ram }} GB</p>
                    <p>Storage: {{ device.storage }} GB</p>
                    <p>Screen Size: {{ device.screen_size }} inches</p>
                    <button><a href="{{url_for('device', device_id=device.id)}}">Select Device</a></button>
                    </div>
            {% endfor %}
        </div>
    {% else %}
    {% endif %}
    <p>Submit the form above to see results</p>
</div>
<!-- Security Recommendations Section -->
<div class="security-recommendations">
    <h2>Security Recommendations</h2>
    <p>Follow our guidelines to ensure your devices are secure and up-to-date.</p>
    <ul>
        <p><a href="https://www.cyberessentials.ncsc.gov.uk/">Cyber Essentials Guidelines</a></p>
        <p><a href="#device-hardening">Operating System Hardening Steps</a></p>
        <p><a href="#antivirus">Recommended Antivirus Tools</a></p>
    </ul>
</div>

<!-- Educational Resources Section -->
<div class="educational-resources">
    <h2>Educational Resources</h2>
    <p>Explore our modules to learn more about digital literacy and cybersecurity.</p>
    <ul>
        <p><a href="#cybersecurity-basics">Cybersecurity Basics</a></p>
        <p><a href="#best-practices">Best Practices for Device Security</a></p>
    </ul>
</div>
</body>
<script>
    function switchTheme() {
        const body = document.querySelector('body');
        body.classList.toggle('dark-mode');
        body.classList.toggle('light-mode');
        if (body.classList.contains('dark-mode')) {
            body.style.image.innerHTML = "background-image: url('{{dark_mode_image}}')";
        } else {
            body.style.image.innerHTML = "background-image: url('{{light_mode_image}}')";
        }
    }
    
    const toggleSwitch = document.querySelector('.toggle-checkbox');
    toggleSwitch.addEventListener('change', switchTheme());

    const carousel = document.querySelector('.device-carousel');
        let isHovering = false;

        carousel.addEventListener('mouseenter', () => isHovering = true);
        carousel.addEventListener('mouseleave', () => isHovering = false);

        setInterval(() => {
            if (!isHovering) {
                carousel.scrollBy({left: 5, behavior: 'smooth'});
                if (carousel.scrollWidth - carousel.scrollLeft === carousel.clientWidth) {
                    carousel.scrollTo({left: 0, behavior: 'smooth'});
                }
            }
        }, 100);
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</html>
